# Supabase Configuration
SUPABASE_URL=https://vkxxlqwxztlhhodwwabg.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZreHhscXd4enRsaGhvZHd3YWJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4MDc0MzcsImV4cCI6MjA5NTM4MzQzN30.Z5vzURgLB-BDGjnueniaqXvvunc1JmN2jUdRngAdCFI
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZreHhscXd4enRsaGhvZHd3YWJnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTgwNzQzNywiZXhwIjoyMDk1MzgzNDM3fQ.NAe1PeZVHoASG3XzIVO0CKI9F8f1XJflU4ToM-s9GGM

# JWT Configuration
JWT_SECRET=8yr+JkBpH1OthPoyUSolx7xxE3WE+oTyUBTrdTNQvmB72D0CQXCgsfwFTxUgZQ2CacTEscbAHwU1gNHsnxxP5Q==

# Server Configuration
PORT=3000
NODE_ENV=development

# CORS Configuration
FRONTEND_URL=http://localhost:3000
